* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Container_Navbar {
    background-color: #020202;
    border-radius: 15px;
}

.logo_conten {
    height: 10vh;
}

.logo_nav {
    width: 100%;
    height: 100%;
    background-color: #020202;
    border-radius: 50%;
}

.me-auto>.nav-link {
    cursor: pointer;
    font-size: 18px;
}

.me-auto>.nav-link:hover {
    background-color: #232222f4;
    border: 2px solid #eb0404;
    transform: scale(1.08);
    border-radius: 25px;
    transition: all 0.1s ease-in-out;
}

.me-auto>.nav-link:visited,
.me-auto>.nav-link:link {
    color: white;
}

@media (max-width: 768px) {

    .logo_conten {
        height: 8vh;
    }
}