.title_Promocion{
    text-align: center;
}

.promocion h3{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #1a1a1a;
    margin-bottom: 15px;
}

.promocion p{
    text-align: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.promocion img{
    width: 100%;
    height: auto;
}