/*************************************************************************************/
/* Estilo general */
.contenidoCarousel {
    position: absolute;
    transform: translate(-10%, -20%); /* Centra horizontalmente */
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro translúcido */
    border-radius: 15px;
    padding: 20px;
    max-width: 50%;
    line-height: 1.4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}


.contenidoCarousel h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.contenidoCarousel p {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 15px;
}

/* Imágenes del carrusel */
.Ventana img {
    object-fit: cover; /* Hace que la imagen cubra todo el contenedor */
    width: 100%;
    height: 100%;
}

.Ventana {
    height: 110vh; 
    position: relative;
}

/* Botones */
.boton_ventana {
    background-color: #000 !important;
    padding: 20px 20px;
    color: white; 
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    border: none !important;
}

.boton_ventana:hover {
    transform: scale(1.1);
    background-color: #ed0f0f;
    color: white;
}

/* Responsividad */

/* Pantallas medianas*/
@media (max-width: 1024px) {
    .Ventana {
        height: 80vh; /* Reduce la altura del carrusel */
    }

    .contenidoCarousel {
        max-width: 70%; /* Amplía el cuadro para pantallas más pequeñas */
        padding: 15px;
    }

    .contenidoCarousel h3 {
        font-size: 1.5rem; /* Reduce el tamaño del título */
    }

    .contenidoCarousel p {
        font-size: 0.9rem; /* Reduce el tamaño del texto */
    }

    .boton_ventana {
        font-size: 0.9rem; /* Reduce el tamaño del botón */
        padding: 6px 15px;
    }
}

/* Pantallas movil*/
@media (max-width: 768px) {
    .Ventana {
        height: 70vh; /* Reduce aún más la altura */
    }

    .contenidoCarousel {
        bottom: 15%; /* Eleva un poco el cuadro */
        max-width: 80%; /* Amplía el cuadro */
        padding: 10px;
        transform: translate(-0%, -20%); /* Centra horizontalmente */
    }

    .contenidoCarousel h3 {
        font-size: 1.2rem; /* Reduce el tamaño del título */
    }

    .contenidoCarousel p {
        font-size: 0.8rem; /* Reduce el tamaño del texto */
    }

    .boton_ventana {
        font-size: 0.8rem; /* Reduce el tamaño del botón */
        padding: 5px 10px;
    }
}
