.reservationFormPage2 {
    background-color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .reservationFormContainer2 {
    background: #222;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    padding: 20px;
  }
  
  .formHeader2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .formImage2 {
    background-color: #555;
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 3px solid transparent;
  }
  
  .formTitle2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  
  /* Estructura del formulario */
  .reservationForm2 {
    display: flex;
    flex-direction: column; /* Cambiar a columna para que todo se alinee correctamente */
    gap: 20px;
  }
  
  .formColumnsWrapper2 {
    display: flex;
    gap: 20px;
  }
  
  .formColumn2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .formGroup2 {
    display: flex;
    flex-direction: column;
  }
  
  .label4 {
    font-size: 1.0rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 5px;
  }
  
  input, select, textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  input:focus, select:focus, textarea:focus {
    border-color: #4caf50;
    outline: none;
  }
  
  textarea {
    resize: none;
    max-height: 150px;
    overflow-y: auto;
  }
  
  /* Barra de scroll personalizada */
  textarea::-webkit-scrollbar {
    width: 8px;
  }
  
  textarea::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 5px;
  }
  
  textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* Botón de enviar */
  .submitButton3 {
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto; /* Centrar el botón horizontalmente */
    display: block;
    width: 40%;
  }
  
  .submitButton3:hover {
    background-color: #244;
  }
  
  /* Mensaje de error */
  .errorMessage2 {
    color: #d9534f;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    min-height: 20px; /* Reservar espacio incluso cuando el mensaje no esté presente */
    visibility: hidden; /* Ocultarlo por defecto */
  }
  
  .errorMessage2.visible {
    visibility: visible; /* Mostrar el mensaje solo cuando sea necesario */
  }
  