.reservationFormPage2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.reservationFormContainer2 {
  background: #222;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 100%;
  padding: 20px;
  margin: 10px;
}

.formHeader2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.formImage2 {
  background-color: #555;
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 3px solid transparent;
}

.formTitle2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}

/* Estructura del formulario */
.reservationForm2 {
  display: flex;
  flex-direction: column; 
  gap: 20px;
}

.formColumnsWrapper2 {
  display: flex;
  gap: 20px;
}

/* Form Columns */
.formColumn2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formGroup2 {
  display: flex;
  flex-direction: column;
}

.label4 {
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
}

input, select, textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  transition: border-color 0.3s;
}

input:focus, select:focus, textarea:focus {
  border-color: #4caf50;
  outline: none;
}

textarea {
  resize: none;
  max-height: 150px;
  overflow-y: auto;
}

/* Botón de enviar */
.submitButton3 {
  padding: 12px;
  font-size: 16px;
  color: #fff;
  background-color: #555;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;
  display: block;
  width: 100%; /* Ajusta a full width en móvil */
}

.submitButton3:hover {
  background-color: #244;
}

/* Mensaje de error */
.errorMessage2 {
  color: #d9534f;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
  min-height: 20px;
  visibility: hidden;
}

.errorMessage2.visible {
  visibility: visible;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .reservationFormContainer2 {
    padding: 15px;
  }

  .formColumnsWrapper2 {
    flex-direction: column; /* Columnas apiladas */
    gap: 10px;
  }

  .formImage2 {
    width: 120px; /* Imagen más pequeña */
  }

  .formTitle2 {
    font-size: 22px; /* Título más pequeño */
  }

  .submitButton3 {
    width: 80%; /* Botón un poco más pequeño */
  }
}

@media (max-width: 480px) {
  .reservationFormContainer2 {
    padding: 10px;
    border-radius: 8px;
  }

  .formImage2 {
    width: 100px;
  }

  .formTitle2 {
    font-size: 20px;
  }

  .label4 {
    font-size: 0.9rem;
  }

  input, select, textarea {
    padding: 8px;
    font-size: 12px;
  }

  .submitButton3 {
    font-size: 14px;
    width: 100%; /* Botón ocupa todo el ancho */
  }
}
